PROJECT_NAME=Mingo
SECRET_KEY=replace_this_with_a_secure_random_64_character_hex_secret_key
DATABASE_URL=sqlite+aiosqlite:///./mingo.db
ACCESS_TOKEN_EXPIRE_MINUTES=10080
BACKEND_CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173","http://localhost:8000","http://127.0.0.1:8000","*"]
